<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Post</title>
</head>
<body>
    <h3> Edit your post</h3>
    <p>Post id: <%= post.id %> </p>
    <p>post username: @ <%= post.username %></p>
    <form >
        <textarea rows="15" cols="30" ><%= post.content %> </textarea>
        <button>sumbit</button>
    </form>

    
</body>
</html>